<%= form_with(model: icono, local: true) do |form| %>
  <% if icono.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(icono.errors.count, "error") %> prohibited this icono from being saved:</h2>

      <ul>
      <% icono.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :icono_nombre %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :icono_direccion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
